:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.result {
    font-weight: bold;
    margin-top: 40px;
}

.happy::before {
    content: "😀";
}

.angry::before {
    content: "😡";
}

.fearful::before {
    content: "😨";
}

.funny::before {
    content: "🤪";
}

.respectful::before {
    content: "🤵‍";
}